.footer {
    background-color: $yellow-color;
    color: $dark-gray-color;

    &-links {
        padding: 64px 0 0 84px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        
        &__search-bar{
            position: relative;
        }
        &__title {
            font-size: 22px;
            font-weight: $bold;
            margin-bottom: 16px;
        }
        &__input {
            padding: 15px 525px 14px 19px;
            background-color:$light-brown-color;
            border-radius:30px;
            border-style:none;
            font-size: 14px;
            margin-bottom: 22px;
            &:focus {
                border-style: none;
            }
            &::placeholder {
                font-size: 14px;
            }
        }
        &__button {
            position: absolute;
            text-align: center;
            top: 44%;
            left: 61.8%;
            background-color: $white-color;
            border-radius:25px;
            border-style:none;
            padding: 8px 23px ;
            font-weight:700;
            font-size: 16px;
        }
    }
    &-about-us__links {

        &>div {
            @include display(flex,column,flex-end,flex-start);
            font-size: 14px;

            &>* {
                margin-bottom: 12px;
                color: $dark-gray-color;                
            }
            &>a:last-child {
                margin: 0;
            }
        }
    }
    &-about-us__title {
        font-size: 18px;
        font-weight: 900;
    }
    .right-space {
        margin-right: 104px;
    }
    &-copyrights {
        font-size: 12px;
        margin-right: 25px;

        &--right-space {
            margin-right: 219px;
        }
        &--bold-text {
            font-weight: 900;
            margin-bottom: 5px;
        }
    }
    &-contacts {
        background-color: $light-brown-color;
        padding: 68px 85px 70px 36px;
        width: 456px;
    }
    &-links {
        
        &__contact-us {
            @include display(flex,row,flex-start,flex-start);
            font-size: 14px;
    
            &-icon {
                margin:30px 25px 0 0;
            }
            &-details {
                display: inline;
                border-bottom: 1.5px solid $dark-gray-color;
                width: 100%;
                padding-bottom: 25px;
                margin-bottom: 20px;
    
                &-title {
                    font-size: 18px;
                    font-weight: 900;
                    margin-bottom: 5px;
                }
            }
        }
        &__call-us {
            @include display(flex,row,flex-start,flex-start);
            font-size: 14px;
    
            &-icon {
                margin-right: 25px;
            }
            &-details {
                display: inline;
                border-bottom: 1.5px solid $dark-gray-color;
                padding-bottom: 20px;
                margin-bottom: 20px;
                width: 100%;
    
                &-title {
                    font-size: 18px;
                    font-weight: 900;
                }
                &-number {
                    font-size: 14px;
                    font-weight: 900;
                }
            }
        }
        &__email-us {
            @include display(flex,row,flex-start,center);
            margin-bottom: 36px;
            font-size: 14px;
    
            &-icon {
                margin-right: 25px;
            }
            &-details {
                display: inline;
                width: 100%;
    
                &-title {
                    font-size: 18px;
                    font-weight: 900;
                }
            }
        }
        &__follow-us {
            @include display(flex,row,space-between,flex-start);
            width: 100%;
            font-size: 18px;
    
            &-title {
                font-size: 18px;
                font-weight: 900;
                padding-right: 25px;
                border-right: 1.5px solid $dark-gray-color;
            }
        }
    }
}
