$white-color: white;
$primary-white-color: #FAFAFA;
$secondary-white-color: #F0F0F0;
$yellow-color : #F2E162;
$light-green-color : #52B27B;
$voilet-color: #265781;
$light-brown-color : #6666663b;
$light-gray-color: #e9e5e15b;
$dark-gray-color : #505050;
$primary-black-color: #272727;
$secondary-black-color : #291818;
$black-color: black;

$primary-font: "Poppins";

$thin: 100;
$extra-light: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;
$extra-black: 950;